{% extends 'connect/base.html' %}

{% block content %}
    <div class="callout__top">
      <div class="top">
        <p> Networking.</p>
        <p> Mentorship.</p>
        <p> Friendship.</p>
      </div>
    </div>

    <div class="site-title">
      <h1>Connecting Indians</h1>
      <h2>&nbsp &nbsp &nbsp &nbsp Our goal</h2>
    </div>

    <div class="text text-1">
    </div>

    <div class="text text-2">
    </div>

    <div class="text text-3">
    </div>

    <div class="text text-4">
      <p>Copyright 2017 www.indiansconnect.com</p>
    </div>

    <div class="image image-6"></div>
    <div class="image image-7"></div>
    <div class="image image-8"></div>
    <div class="image image-9"></div>
    <div class="image image-10"></div>
{% endblock %}
